body {
	min-height: 100vh;
	background: rgb(255, 251, 220);
	font-family: Open Sans, Arial;
}

h2 {
	font-size: 36px;
}

p {
	font-size: 24px;
}

#sanadiv {
	padding: 15px 20px;
	border: 1px solid rgba(0,0,0,0.15);
	margin-top: 20px;
	border-radius: 1.5px;
	text-align: center;

	-webkit-box-shadow: 2px 1px 8px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 2px 1px 8px 0px rgba(0,0,0,0.15);
    box-shadow: 2px 1px 8px 0px rgba(0,0,0,0.15);
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    cursor: default;
}

#sanadiv, #score, #sound {
	background: #fff;
}

#sanadiv h2, #lausuntadiv p {
	margin: 0;
}

#lausuntadiv {
	margin: 0 auto;
	max-width: 300px;
}

#lausuntadiv p {
	color: rgba(0,0,0,0.4);
	display: inline-block;
}

#kuuntele {
	font-weight: bold;
	font-size: 28px;
	padding: 15px 0 5px;
	cursor:pointer;
	transition: all 0.2s ease;
}

#kuuntele:hover,
#kuuntele:focus {
	color: red;
	transition: all 0.2s ease;
}

#sana, #lausunta {
	font-weight: bold;
	color: red;
}

#vaihtoehdotdiv {
	text-align: center;
	position: relative;
}

#choice1div, #choice2div, #choice3div, #choice4div {
	background: #d0ffc8;
	border: 1px solid rgba(0,0,0,0.05);
	border-radius: 1.5px;
	display: inline-block;
	transition: all 0.15s ease;
	text-transform: uppercase;
	color: rgb(99, 99, 99);
	font-weight: bold;

	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 10em;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

	-webkit-box-shadow: 2px 1px 8px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 2px 1px 8px 0px rgba(0,0,0,0.15);
    box-shadow: 2px 1px 8px 0px rgba(0,0,0,0.15);
}

.choicediv:hover {
	background: #7cff66 !important;
	transition: all 0.15s ease;
	cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#scorediv {
	width: 100%;
	text-align: center;
}

#score, #sound {
	padding: 20px 30px;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 2px;
	display: inline-block;

	-webkit-box-shadow: 2px 1px 8px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 2px 1px 8px 0px rgba(0,0,0,0.15);
    box-shadow: 2px 1px 8px 0px rgba(0,0,0,0.15);
}

#sound {
	cursor: pointer;
}

#sound:hover {
	background: rgba(0,0,0,0.1);
}

#vastaus {
	visibility: hidden;
}

.index-main {
	background: #fff;
	padding: 20px;
	border: 1px solid rgba(0,0,0,0.05);
	border-radius: 2px;
}

.index-main p {
	font-size: 1em;
}

html, body {
  height: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
} 

footer p {
	margin: 0;
	border-radius: 2px;
	border-top: 1px solid rgba(0,0,0,0.1);
	border-left: 1px solid rgba(0,0,0,0.1);
    font-size: 14px;
    font-weight: bold;
    background: #ffe000;
    padding: 2px 7px;
}

footer p a, footer p a:hover {
	color: #000;
	text-decoration: none;
}

#indeximg {
	float: right;
	max-width: 100%;
	height: auto;
}

@media (max-width: 1050px){
	#vaihtoehdotdiv p {
		font-size: 22px;
		line-height: 1.1em;
	}
}

@media (max-width: 568px){
	#vaihtoehdotdiv p {
		font-size: 18px;
		font-weight: 300;
	}

	#score, #sound {
	    padding: 12px 10px;
    	font-size: 18px;
    	margin-top: 0;
    }
}

@media (max-width: 400px){
	.index-main h2 {
		text-align: center;
		margin-bottom: 20px;
	}

	#indeximg {
		float: none;
		width: 90%;
		margin: 0 0 0 5%;
		padding-bottom: 20px;
	}
}

/* 
* Bootstrap overrides
*/
.navbar-brand {
	font-family: Open Sans, Arial;
	font-weight: 600;
	text-decoration: none;
}

.navbar-default .navbar-brand {
    color: #b7b7b7;
}

.navbar-default {
	background-color: #ffeb5c;
	border: 0;
}

.nav>li>a>img {
	height: 32px;
}

.navbar-default .navbar-toggle:hover {
    background-color: #ffe000;
}

.navbar-default .navbar-toggle {
    border-color: #f3d500;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: 0;
}

.navbar-default .navbar-nav>li>a {
    color: #777;
    text-align: center;
}

.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #f3d500;
}

#contact {
	line-height: 52px;
	padding: 0 15px;
	font-weight: 600;
}

@media (min-width: 768px){
	.navbar-nav>li>a {
	    padding-top: 10px;
	    padding-bottom: 10px;
	}

	.nav>li:hover {
		background-color: #ffe000;
		border-bottom: 3px solid rgb(255, 161, 21);
	}

	.nav>li>a:hover {
		padding-bottom: 7px;
	}

	#contact:hover {
		line-height: 46px;
		padding-top: 3px;
	}
}

@media (max-width: 768px){
	.navbar-nav {
		margin: 0;
	}

	.navbar-default .navbar-nav>li>a:focus {
	    background-color: rgba(0,0,0,0.035);
	}
}