h2 {
	font-size: 40px;
}

p {
	font-size: 24px;
}

#sanadiv {
	padding: 15px 20px;
	border: 1px solid rgba(0,0,0,0.15);
	margin-top: 20px;
	border-radius: 1.5px;
	text-align: center;

	-webkit-box-shadow: 2px 1px 8px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 2px 1px 8px 0px rgba(0,0,0,0.15);
    box-shadow: 2px 1px 8px 0px rgba(0,0,0,0.15);
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    cursor: default;
}

#sanadiv h2, #lausuntadiv p {
	margin: 0;
}

#lausuntadiv {
	margin: 20px auto 0;
	max-width: 300px;
}

#lausuntadiv p {
	color: rgba(0,0,0,0.4);
	display: inline-block;
}

#kuuntele {
	font-weight: bold;
	font-size: 14px;
	padding: 15px 0 5px;
	cursor:pointer;
	transition: all 0.2s ease;
}

#kuuntele:hover,
#kuuntele:focus {
	color: red;
	transition: all 0.2s ease;
}

#sana, #lausunta {
	font-weight: bold;
	color: red;
}

#vaihtoehdotdiv {
	text-align: center;
	position: relative;
}

#choice1div, #choice2div, #choice3div, #choice4div {
	background: #d0ffc8;
	border: 1px solid rgba(0,0,0,0.05);
	border-radius: 1.5px;
	display: inline-block;
	transition: all 0.15s ease;
	text-transform: uppercase;
	color: rgb(99, 99, 99);
	font-weight: bold;

	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 10em;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

	-webkit-box-shadow: 2px 1px 8px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 2px 1px 8px 0px rgba(0,0,0,0.15);
    box-shadow: 2px 1px 8px 0px rgba(0,0,0,0.15);
}

.choicediv:hover {
	background: #7cff66 !important;
	transition: all 0.15s ease;
	cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#scorediv {
	width: 100%;
	text-align: center;
}

#score, #sound {
	padding: 20px 30px;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 2px;
	display: inline-block;

	-webkit-box-shadow: 2px 1px 8px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 2px 1px 8px 0px rgba(0,0,0,0.15);
    box-shadow: 2px 1px 8px 0px rgba(0,0,0,0.15);
}

#sound {
	cursor: pointer;
}

#sound:hover {
	background: rgba(0,0,0,0.1);
}

#vastaus {
	visibility: hidden;
}